.country {
    padding: 50px;
}

#light {
    background-color: var(--light-mode-background);
    color: var(--light-mode-text);
}

.btn-light {
    margin-bottom: 30px;
    display: inline-block;
}

.btn-dark {
    margin-bottom: 30px;
    display: inline-block;
}

.country article .country-details div {
    margin: 30px 0;
}

.country article .country-details div h2 {
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 1px;
}

.country article .country-details div h5 {
    font-weight: 600;
    margin: 10px 0;
    font-size: 16px;
}

.country article .country-details div h5 span {
    font-weight: 300;
}

.country article h3 {
    font-weight: 300;
}

.borders ul {
    display: flex;
    flex-wrap: wrap;
}

.borders li {
    margin: 10px;
    background-color: var(--article-color);
    padding: 3px 20px;
    border-radius: 3px;
    box-shadow: 0 5px 20px hsla(200, 15%, 8%, 0.5);
}

.borders li.light {
    background-color: var(--light-mode-background);
    color: black;
}

li {
    list-style-type: none;
}



@media (min-width: 992px) {
    

    .country article .country-inner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .country article .country-details {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1200px) {
    .country {
        max-width: 1100px;
        margin: auto;
        
    }
}

@media (min-width: 1366px) {
    .country {
        max-width: 1200px;
    }
}

@media (min-width: 1440px) {
    .country {
        max-width: 1400px;
    }
}