.country {
    padding: 50px;
}

#light {
    background-color: var(--light-mode-background);
    color: var(--light-mode-text);
}

.btn-light {
    margin-bottom: 30px;
    display: inline-block;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.293139);
}

.btn-dark {
    margin-bottom: 30px;
    display: inline-block;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.293139);
}

.country article .country-details div {
    margin: 30px 0;
}

.country article .country-details div h2 {
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 1px;
}

.country article .country-details div h5 {
    font-weight: 600;
    margin: 10px 0;
    font-size: 16px;
}

.country article .country-details div h5 span {
    font-weight: 300;
}

.country article h3 {
    font-weight: 300;
}

.borders ul {
    display: flex;
    flex-wrap: wrap;
}

.borders li {
    margin: 10px;
    background-color: var(--article-color);
    padding: 3px 20px;
    border-radius: 3px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.293139);;
}

.borders li.light {
    background-color: var(--light-mode-background);
    color: black;
}

li {
    list-style-type: none;
}



@media (min-width: 992px) {
    .country-inner {
        display: flex;
        gap: 100px;
    }

    .flag {
        height: auto;
    }

    .country-details {
        display: flex;
        align-items: center;
        gap: 70px;
    }

    .country {
        padding-bottom: 150px;
    }
}

@media (min-width: 1200px) {
    .country {
        max-width: 1100px;
        margin: auto;
        
    }
}

@media (min-width: 1366px) {
    .country {
        max-width: 1200px;
    }
}

@media (min-width: 1440px) {
    .country {
        max-width: 1400px;
    }
}